.cover {
  margin: 0 auto;
  max-width: calc(100% - 96px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:1279px) {
  .cover {
    max-width: 100%;
  }
}

